/* Dark Theme */
[data-theme="dark"] {
    --primary-color: #A55EEA;     
    --secondary-color: #00D8D6;  
    --text-color: #E8F0F2;        
    --bg-color: #1E272C;         
    --card-bg: #2D3436;          
    --footer-bg: #1A1A1A;       
    --footer-text: #B2BEC3;      

 }
 
 [data-theme="dark"] .project-card p,
 [data-theme="dark"] .project-meta {
     color: #aaa;
 }
 
 [data-theme="dark"] .tech span {
     background-color: #333;
     color: #ddd;
 }
 
 [data-theme="dark"] .project-display {
     background-color: #2d2d2d;
     border-color: #444;
 }